body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    font-size: 25px;
    color: #000;
}
.logo span{
    color: #a52a2a;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
nav ul li a:hover{
    color: #a52a2a;
    transition: 1s;
}
.btn{
    border: 2px solid #a52a2a;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.btn:hover{
    background-color: #a52a2a;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}